@import url(https://fonts.googleapis.com/css2?family=Arimo&display=swap);

header{
    margin:10px;
}
.tete {
    display:flex;
    flex-direction: column;
    height: 100%;
}
.bam a{
    padding:5px;

}
.bam {
    flex-direction: row-reverse;
    display:flex;
    align-items: center;
}
.appggl{
    cursor:pointer;
}
.connexion{
    background-color:#6d92d1;
    border:none;
    color:#000000;
    padding:10px 20px;
    border-radius:5px;
    text-align:center;
    text-decoration: none;
    cursor: pointer;
}
body{
    
    font-family: 'Arimo', sans-serif;
    margin:0;
    padding:0;
}

.ggl {
    height:28vh;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}



.bar {
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
}
.bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

.searchbar{
    height:40px;
    border:none;
    width:500px;
    font: size 16px;
    outline:none;
}

.bar .loupe{
    height: 20px;
    position:relative;
    top:10px;
    left:5px;
    float:left;
}


.bar .micro{
    height:20px;
    position:relative;
    top:10px;
    float:right;
    right:50px;
    
}

.bar .photo{
    height:20px;
    position:relative;
    top:10px;
    float:right;
    
}


.pearl{
    margin-top:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    
}

.button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
}

.button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
}

.button:focus{
    border:1px solid #4885ed;
    padding:9px 19px;
}

.pied {
        position: fixed;
        border: 1px solid #dfe1e5;
        border-top: #ffffff;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #f2f2f2;
        font-family: arial, sans-serif;
        font-size: 14px;
        color: #1f1f1f;
}
.fr {
    border-bottom: 1px solid #000000;
}

.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer a {
    padding:5px;
}

.parametre {
    background:none;
    border: none;
    cursor: pointer;
}
.parametre:hover {
    background-color:none;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}
.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.commentaires{
    color: blue;
    padding:20px;
    text-decoration:none;
}